<h2>Create</h2>
<form action="/create" method="post">


    <div class="input-field">
        <input type="search" name="title">
    </div>

    <button type="submit" class="btn green darken-4">Create</button>
</form>